<div class="contact-section container-fluid d-flex flex-wrap">
    <div class="row g-0">
        <!-- Left Image Half -->
          <div class="half-screen image-side d-flex align-items-center justify-content-center">
        <img src="/assets/imgcontact.png" alt="Customer support agent smiling with headset"
            class="img-fluid contact-image" />
    </div>
        <!-- Right Form Half -->
        <div class="col-lg-6 form-column">
            <div class="form-container">
                <h1>We empower businesses to go digital.</h1>
                <p class="subheading">With smartphone usage at an all-time high, online shopping has become the
                    preferred choice for today’s consumers.</p>

                <form>
                    <div class="row g-3">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Your Name" style="width:80% ;">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last name">
                        </div>
                    </div>


                    <div class="mb-3 mt-2">
                        <label for="subject" class="form-label">Your Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>

                    <div class="mb-4">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" placeholder="Write the message..."></textarea>
                    </div>

                    <button type="submit" class="btn send-message-btn">Send a Message</button>
                </form>
            </div>
        </div>
    </div>
</div>


