<!-- OCI HEADER SECTION -->
<div class="oci-header-section">
  <div class="oci-tag">
    <span><i class="bi bi-gear-fill" style="padding:5px;"></i> OCI Technology</span>
  </div>

  <h1 class="oci-title">The Power of Integration with OCI™</h1>
  <p class="oci-description">
    OCI™ transforms the way businesses and customers interact. By connecting every touchpoint—retail, supply chain,
    services, and analytics—it creates a single, powerful ecosystem for commerce.
  </p>
</div>

<!-- DIAGRAM SECTION -->
<div class="diagram-container">
  <!-- Center with rings -->
  <div class="center-circle show">
    <div class="inner-circle">
      <div class="text-oci">OCI</div>
      <div class="text-tech">Technology</div>
    </div>

    <div class="ring outer-ring"></div>
    <div class="ring middle-ring"></div>
  </div>

  <!-- Dynamic cards -->
  <div class="features-wrapper">
    <div class="lines-wrapper">
      <div class="feature-line" *ngFor="let feature of features; let i = index" [style.--i]="i"
        [style.--count]="features.length">
        <div class="sparkle"></div>
      </div>
    </div>


    <div class="feature-item" *ngFor="let feature of features; let i = index" [style.--i]="i"
      [style.--count]="features.length">
      <div class="icon">{{ feature.icon }}</div>
      <div class="text">{{ feature.text }}</div>
      <div class="more-details">
        {{ feature.details }}
      </div>
    </div>
  </div>
</div>