<div class="oci-header-section">
  <div class="oci-tag">
    <i class="bi bi-cpu"></i> <span>OCI Technology</span>
  </div>
  <h1 class="oci-title">
    One Intelligent Core.<br />
    <span class="highlight-red">Endless Possibilities.</span>
  </h1>
</div>

<div class="diagram-container">
  <!-- CENTER BRANDING -->
  <div class="center-circle">
    <div class="inner-circle">
      <div class="text-oci">OCI</div>
      <div class="text-tech">TECHNOLOGY</div>
    </div>
    <div class="ring outer-ring"></div>
    <div class="ring middle-ring"></div>
  </div>

  <div class="features-wrapper">
    <!-- Lines for Desktop -->
    <div class="lines-wrapper">
      <div
        class="feature-line"
        *ngFor="let feature of features; let i = index"
        [style.--i]="i"
        [style.--count]="features.length"
      ></div>
    </div>

    <!-- CARDS -->
    <div class="feature-list-container">
      <div
        class="feature-item"
        *ngFor="let f of features; let i = index"
        [style.--i]="i"
        [style.--count]="features.length"
      >
        <div class="icon-box">{{ f.icon }}</div>

        <div class="card-content">
          <div class="text">{{ f.text }}</div>
          <div class="more-details">{{ f.details }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
